version: '3.9'
services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
  meilisearch:
    image: getmeili/meilisearch:v1.9
    ports:
      - "7700:7700"
    environment:
      MEILI_MASTER_KEY: devmasterkey
    volumes:
      - meili_data:/meili_data

volumes:
  meili_data:
