version: '3.9'

services:
  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 3s
      retries: 10

  meilisearch:
    image: getmeili/meilisearch:v1.7
    ports:
      - '7700:7700'
    environment:
      MEILI_MASTER_KEY: dev-master-key-change-me
      MEILI_ENV: development
      MEILI_NO_ANALYTICS: 'true'
    volumes:
      - ../data/meili:/meili_data

  api:
    build:
      context: ../..
      dockerfile: infra/docker/api.Dockerfile.dev
    ports:
      - '3001:3001'
    env_file:
      - ../../apps/api/.env.docker
    environment:
      CHOKIDAR_USEPOLLING: 'true'
      WATCHPACK_POLLING: 'true'
    depends_on:
      redis:
        condition: service_healthy
      meilisearch:
        condition: service_started
    volumes:
      - ../../:/repo
      - root_node_modules:/repo/node_modules
      - api_node_modules:/repo/apps/api/node_modules

  web:
    build:
      context: ../..
      dockerfile: infra/docker/web.Dockerfile.dev
    ports:
      - '3000:3000'
    env_file:
      - ../../apps/web/.env.docker
    environment:
      CHOKIDAR_USEPOLLING: 'true'
      WATCHPACK_POLLING: 'true'
    depends_on:
      api:
        condition: service_started
    volumes:
      - ../../:/repo
      - root_node_modules:/repo/node_modules
      - web_node_modules:/repo/apps/web/node_modules

volumes:
  root_node_modules:
  api_node_modules:
  web_node_modules:
